* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

/* ================================= 
              N a v b a r 
==================================== */

nav h1,
nav a {
  color: #34495e;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.brand {
  font-size: 1.45em;
}

ul.main-nav {
  margin-top: 5px;
}

.main-nav a {
  color: #edf6ff;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #b8cadd;
  border-bottom: 2px solid #b8cadd;
  padding-bottom: 5px;
}

.brand a {
  color: white;
}

.main-nav,
#navbar {
  display: flex;
}

.brand a,
.main-nav a {
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

#navbar {
  justify-content: space-between;
  background-color: #718daa;
  border-bottom: 1px solid #506070;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

/* ================================= 
    W e l c o m e     S e c t i o n 
==================================== */

#welcome-section {
  min-height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  background-image: url('./assets/background-sea.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

div#content h1 {
  letter-spacing: 0.5rem;
  font-size: 40px;
  text-shadow: 4px 4px 1px rgb(0, 0, 0);
}

div#content h2 {
  margin: 28px 0px;
  letter-spacing: 5px;
  font-size: 30px;
  text-shadow: 4px 4px 1px rgb(0, 0, 0);
}

div#content p {
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 29px;
}

div#content span {
  color: orange;
}

/* ================================= 
   P r o j e c t s   S e c t i o n
==================================== */
section#projects {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 10vh;
  width: 100%;
  justify-content: center;
  background-color: #f4f0f0;
  color: #444;
}

div.project-tile {
  text-align: center;
  margin-bottom: 44px;
}

div.project-tile h2 {
  font-size: 40px;
  letter-spacing: 5px;
  margin-top: -100px;
}

div#grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 100px 100px;
  grid-gap: 30px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
  text-align: center;
  background-image: url('./assets/grid-github-img.png');
  background-repeat: none;
  background-size: cover;
  background-position: center center;
}

.box a {
  color: white;
}

/* ================================= 
      M e d i a    Q u e r i e s
==================================== */
@media (max-width: 800px) {
  div#content {
    width: 90%;
  }
  div#content h2 {
    margin: 15px 0px;
  }
}

@media (max-width: 490px) {
  .main-nav a {
    font-size: 0.9em;
    padding: 10px;
  }

  .brand a {
    font-size: 20px;
    padding: 10px;
  }

  div#grid-container {
    grid-template-columns: 110px 110px 110px;
    grid-gap: 20px;
  }
}
@media (max-width: 420px) {
  .main-nav {
    display: none;
  }

  div#content {
    width: 80%;
  }

  div#content h1 {
    font-size: 34px;
  }

  div#content h2 {
    font-size: 26px;
  }

  div#content p {
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: 28px;
  }

  div#grid-container {
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
  }
}
